<div class="home-container">
  <div class="home-main-content">
    <h1> Bienvenido </h1>
    <span><img src="http://gph.is/Vx9jpI" alt=""></span>
    <p>Aqui vas a encontrar un estracto sobre las cosas que hago, las que me gustan y un poco de información general</p>
    <p>Actualmente trabajo liderando el area de Front End en una startup y diseñando todo lo relacionado con experiencia de usuario</p>
    <p>A un nivel más personal, estoy mejorando mis skills como patinadora en linea </p>
    <p>Trato de hacer un consumo responsable, aunque aún me queda por mejorar</p>
    <p>Objetivo de este 2021: No comprar ropa nueva, solo para reponer</p>
  </div>
</div>
