$burgundy: #be0027;
$regular-black: #000000;
$flamingo: #fd5c63;
$viva-glam: #ff4f81;
$ribera: #990033;
$light-lavender-grey: #d7d7d8;
$medium-grey: #9f9fa3;
$dark-grey: #504847;
$cream-brule: #f8dfc2;
$medium-pine-tree: #4dc47d;
$medium-black: #343434;
$cheeckbone: #f56040;
$nightingale: #052d49;
$blue-cat: #1885bf;
$provence: #34495e;
$charuca-letter: 'BrandonGrotesque-Medium';

//palette main color
$burgundy: #be0027;
//generic gradient
$fierce:#AD0D59;
$grape: #863378;
$nazareno: #574480;
$womenly: #324a71;
$dark-purpur: #2f4858;
//matching gradient
$cute-as-a-button: #CC0164;
$fucsia: #c03a9f;
$whitchy: #9964d1;
$confort-zone: #4d83f0;
$naviera-day: #009CF8;
//spot palette;
$concealer: #C37e77;
$merengue: #FFE4DF;
$cloudy-smile: #7AB0E0;
//twisted pallete
$cloudy-smile;
$baby-blue: #D3F4FF;
$autum-jumper: #5A7A98;
//classy palette
$classy-lady: #BFA5A3;
$hipster-lipstick: #89726F;
$good-boys: #366B00;
$polo-player: #6E9E00;
//cube-palette
$cheeky-blush: #B5858A;
$sleep-tight: #D1E7E0;
//shades



